
$bgColorOne: #FF5151;
$bgColorTwo: #0cc;

@mixin center {
  display: flex;
  justify-content: center;
}

@mixin ImgCoverCenter {
  background-size: cover;
  background-position: center;
}

@mixin pad {
  @media(max-width:768px){
    @content;
  }
}

@mixin phone {
  @media(max-width:414px){
    @content;
  }
}